[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
trafilatura = "*"
lxml = "*"
requests = "*"
instructor = "*"
openai = "*"
python-dotenv = "*"
google-cloud-language = "*"
supabase = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
