[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch"

[packages]
fastapi = "==0.110.2"
uvicorn = {extras = ["standard"], version = "==0.29.0"}
supabase = "==2.4.3"
python-dotenv = "==1.0.1"
trafilatura = "==1.8.1"
lxml = "==5.1.1"
langchain = "==0.1.16"
requests = "==2.31.0"
openai = "==1.23.2"
llama-index-readers-file = "==0.1.19"
httpx = "==0.27.0"
pymupdf = "==1.24.2"

[dev-packages]

[requires]
python_version = "3.11"
