[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
supabase = "*"
python-dotenv = "*"
trafilatura = "*"
lxml = "*"
langchain = "*"
sentence-transformers = "*"
requests = "*"
llama-index = "*"
openai = "*"
numpy = "*"
pandas = "*"
llama-index-readers-file = "*"
httpx = "*"
pymupdf = "*"
torch = {version = "==2.0.1", index = "pytorch"}

[dev-packages]

[requires]
python_version = "3.11"
