[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
beautifulsoup4 = "*"
tqdm = "*"
sentence-transformers = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
